In [7]:
import pandas as pd
import pymongo

from dotenv import load_dotenv
import os

load_dotenv()  # Yeh .env file ke variables ko load karega

mongodb_url = os.getenv("MONGODB_URL")

In [8]:
df = pd.read_csv('aps_failure_training_set1.csv')
df.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,pos,153204,0,182,na,0,0,0,0,0,...,129862,26872,34044,22472,34362,0,0,0,0,0
1,pos,453236,na,2926,na,0,0,0,0,222,...,7908038,3026002,5025350,2025766,1160638,533834,493800,6914,0,0
2,pos,72504,na,1594,1052,0,0,0,244,178226,...,1432098,372252,527514,358274,332818,284178,3742,0,0,0
3,pos,762958,na,na,na,na,na,776,281128,2186308,...,na,na,na,na,na,na,na,na,na,na
4,pos,695994,na,na,na,na,na,0,0,0,...,1397742,495544,361646,28610,5130,212,0,0,na,na

In [9]:
# df should be converted into dict before we push it to mongodb

data = df.to_dict(orient='records')

In [10]:
DB_NAME = "sensor1"
COLLECTION_NAME = "sensor1-Data"
CONNECTION_URL = mongodb_url

# above, either remove your credentials or delete the mongoDB resource bofore pushing it to github.

In [11]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [12]:
# Uploading data to MongoDB
rec = collection.insert_many(data)